header, #body, nav, footer{
	min-width: 35em;
	max-width: 75em;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -1px;
}

header div, footer div {
	padding: 10px;
}

nav ul, .tags {
	margin: 0;
	padding: 10px;
}

nav ul li, .tags, .tags li {
	display: inline;
}

#flashes {
	border: 1px solid black;
	margin: 10px;
	text-align: center;
}

#flashes span {
	display: block;
	padding: 10px;
}

.success {
	background-color: #7FFF8A;
}

.error {
	background-color: #FF7F7F;
}

#create input[type=text], #create textarea {
	border: 1px solid black;
	width: 100%;
}

textarea{
	resize: vertical;
}

article, #panel, #pages {
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
}

table#login, table#create {
	padding: 10px;
	text-align: left;
	margin: 0 auto;
}

table#create { width: 100% }
.centred { text-align: center; }

article .title {
	font-weight: bold;
	text-decoration: underline;
	font-size: 2em;
	display: block;
}

article .author {}

article .datetime, #pages .older {
	float:right;
}

article section {}
