{% extends "base.html" %}
{% block title %}admin panel{% endblock %}
{% block content %}
<div id="admin-nav">
<a href="{{ url_for('admin_post', action='create') }}">create a post</a>
</div>
<div id="posts">
{% if posts is not none %}
<table>
	<thead>
		<th>Post Title</th>
		<th>Edit Post</th>
		<th>Moderate Comments</th>
		<th>Delete Post</th>
	</thead>
	{% for post in posts %}<tr>
		<td><a href="{{ url_for('post', id=post['id']) }}">{{ post['title'] }}</a></td>
		<td>
			<a href="{{ url_for('admin_post', action='edit', id=post['_id']) }}">edit</a>
		</td>
		<td>
			<a href="{{ url_for('admin_post', action='moderate', id=post['_id']) }}">moderate</a>
		</td>
		<td>
			<a href="{{ url_for('admin_post', action='delete', id=post['_id']) }}">delete</a>
		</td>
	</tr>
	{% endfor %}
</table>
{% if newer is not none or older is not none %}{% include "pages_template.html" %}{% endif %}
{% else %}
{% endif %}
</div>
</form>
</div>
{% endblock %}
