<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>
		{% block title %}{% endblock %}
	</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	{% block head %}{% endblock%}
</head>
<body>
<header><div>blah - a simple Python blog</div></header>
<nav>
	<ul>
		<li><a href="{{ url_for('index') }}">home</a></li>
		{% if "user" not in session.keys() %}
		<li><a href="{{ url_for('login') }}">login</a></li>
		{% else %}
		<li><a href="{{ url_for('admin') }}">admin</a></li>
		<li><a href="{{ url_for('logout') }}">logout</a></li>
		{% endif %}
	</ul>
</nav>
<div id="body">
{% with messages = get_flashed_messages(with_categories=True) %}
	{% if messages %}<div id="flashes">
		{% for category, message in messages %}<span class="{{ category }}">{{ message }}</span>
		{% endfor %}
	</div>{% endif %}{% endwith %}
{% block content %}{% endblock %}
</div>
<footer><div>Powered by <a href="https://github.com/brennie/blah">blah</a></div></footer>
</body>
</html>
