<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>
		{% block title %}{% endblock %}
	</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
	<header><div>blah - a tiny flask blog</div></header>
<nav>
	<ul>
		<li><a href="{{ url_for('index') }}">home</a></li>
		<li><a href="#">login</a></li>
	</ul>
</nav>
{% block content %}{% endblock %}
<footer><div>Powered by <a href="https://github.com/brennie/blah">blah</a></div></footer>
</body>
</html>
