{% extends "base.html" %}
{% block title %}blah - login{% endblock %}
{% block content %}
<form method="POST" action="{{ url_for('login.post') }}">
	{% if next is not none %}
	<input type="hidden" name="next" value="{{ next }}">
	{% endif %}
	<table id="login">
		<tr>
			<td>email</td>
			<td><input type="email" name="email"></td>
		</tr>
		<tr>
			<td>password</td>
			<td><input type="password" name="password"></td>
		</tr>
		<tr>
			<td colspan="2" class="centred">
				<input type="submit" value="login">
			</td>
		</tr>
	</table>
</form>
{% endblock content %}
